<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link href="light.css" rel="stylesheet" type="text/css" />
    </head>
    <body id="frontpage">
        <div class="title">
            <h1>[Leewings] Algorithm Library</h1>
            <h2>2012.07.17</h2>
            <p><img alt="Splay Tree" title="Splay Tree" src="splay.jpg" \></p>
        </div>
        <div class="author">
            by Leewings Ac<br />
            Nankai University
        </div>
    </body>
</html>
